* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(241, 226, 86);
  color: white;
  padding: 17px 20px;
}
.home{
  margin-left: 10%;
  margin-right: 10%;
  
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(216, 236, 123);
  justify-content: space-evenly;
  width: 350px;
  margin-left: 41.5%;
  margin-top: 5%;
  border-radius: 30px;
  height: 270px;
  background-color: rgb(125, 224, 12);
  color: wheat;
}

.login input {
  background-color: white;
  border-radius: 5px;
}

.login button {
  align-items: center;
  margin-left: 39%;
  margin-top: 8px;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid teal;
  justify-content: space-evenly;
  width: 350px;
  margin-left: 41.5%;
  margin-top: 5%;
  border-radius: 30px;
  height: 270px;
  background-color: rgb(125, 224, 12);
  color: wheat;
}

.register button {
  align-items: center;
  margin-left: 37%;
  margin-top: 8px;
}

.register input {
  background-color: white;
  border-radius: 5px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: wheat;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fulbutta{
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 70px;

}
.menu{
  background-color: black;
  color: white;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.btn{
  font-weight: bold;
}
