* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(241, 226, 86);
  color: white;
  padding: 17px 20px;
}
.home{
  margin-left: 10%;
  margin-right: 10%;
  
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(216, 236, 123);
  justify-content: space-evenly;
  width: 350px;
  margin-left: 41.5%;
  margin-top: 5%;
  border-radius: 30px;
  height: 270px;
  background-color: rgb(125, 224, 12);
  color: wheat;
}

.login input {
  background-color: white;
  border-radius: 5px;
}

.login button {
  align-items: center;
  margin-left: 39%;
  margin-top: 8px;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid teal;
  justify-content: space-evenly;
  width: 350px;
  margin-left: 41.5%;
  margin-top: 5%;
  border-radius: 30px;
  height: 270px;
  background-color: rgb(125, 224, 12);
  color: wheat;
}

.register button {
  align-items: center;
  margin-left: 37%;
  margin-top: 8px;
}

.register input {
  background-color: white;
  border-radius: 5px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: wheat;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fulbutta{
  display: flex;
  background-color: black;
  padding-bottom: 60px;
  gap: 5px;
  padding-right: 0px;
  position: relative;

}
.menu{
  background-color: black;
  color: white;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 6%;
  font-size: 20px;
  font-style: italic;
  
}
button{
  padding: 2%;
  font-weight: bold;
  border-radius: 20px;
  height: 40px;
  width: 80px;

}
.list_section{
  background-color: black;
  color: white;
  
  padding: 8%;
  font-size: 20px;
  
 

  
}
h1{
  font-style: normal;
}
#edit-btn{
  margin-right: 50%;
  margin-left: 5%;
}
img{
  border-radius: 20px;
  width: 400px;
  height: 300px;
}
input, textarea{
  height: 45px;
  border-radius: 8px;
  width: 300px;
  font-size: 15px;
}
label{
  padding-left: 5px;
}
#menu-btn{
  margin-top: 20px;
  width: 150px;
  border: 2px solid rgb(71, 143, 30);
}
